html {
    box-sizing: border-box;
    /* direction: rtl; */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Alef', 'Arial', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.topPanel {
    background: url("/topPanelBg.jpg");
    height: 26.56rem;
}

.topPanelTraingle {
    /** orange corner **/
    width: 0;
    height: 0;
    border-style: solid;
    /* border-width: 200px 200px 0 0; */
    border-width: 26.56rem 26.56rem 0 0;
    border-color: #fb8e0f transparent transparent transparent;
    /* z-index: 0; */
    position: absolute;
    opacity: 0.75;
}

.middlePanel1 {
    background: #E8E8E8;
    height: 56.25rem;
}

.middlePanel2 {
    background: url("/middlePanel2Bg.jpg");
    height: 48rem;
}

.middlePanel3 {
    background: #FFFFFF;
    height: 25rem;
}

.middlePanel4 {
    background: #202A68;
    height: 31rem;
}

.middlePanel4 .col-35 {
    flex: 0 0 30%;
    max-width: 30%;
}

.middlePanel5 {
    background: url("/middlePanel5Bg.jpg");
    height: 21.875rem;
}

.footer {
    background: #FB8E0F;
    height: 21.875rem;
}

.topPanel-header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.4) 100%);
    height: 5.25rem;
    color: white;
    margin: 0;
    position: relative;
    font-family: 'Alef', 'Arial', sans-serif;
}

.topHeader-burgerWrapper {
    padding: 2.6rem;
    background: #212A66;
}

.topHeader-burgerWrapper ul {
    list-style: none;
    text-align: right;
}

.topHeader-burgerWrapper ul li {
    padding-bottom: 2rem;
}

.topHeader-burgerWrapper ul li i {
    float: left;
    padding-right: 2.5rem;
    margin-top: 0.75rem;
}

.menu {
    position: fixed;
    right: 0;
    height: 100%;
}

.companySloganAndIcon {
    width: 40%;
    margin-left: 10%;
}

.loginJoinJobAwait {
    width: 40%;
}

.jobAwaitNumber {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.loginJoin {
    display: inline-flex;
}

.enter {
    /* border-left: 2px solid;
    border: 50%; */
}

.borderBetweenJoindAndEnter {
    border-left: 2px solid #fff;
    height: 1rem;
    width: min-content;
    margin-top: 0.15rem;
}

.borderBetweenLogin {
    height: 2.25rem;
    width: min-content;
    margin-top: 1.05rem;
    border-left: 3px solid orange;
}

.topPanelLogo-logo {
    height: 60%;
    margin-top: 0.2rem;
    margin-bottom: 0.25rem;
}

.topPanelLogo-text {
    font-size: 0.85rem;
}

.searchForJob {
    justify-content: center;
    margin-top: 6rem;
}

.searchForJobButton, .searchForJobDropdown, .searchForJobText {
    margin-left: 0.5rem;
    border: none;
    background: white;
    width: 12rem;
    font-size: 13px;
    /* word-wrap: break-word; */
    border-radius: 0;
    height: 3rem;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    white-space: pre-line;
    position: relative;
    top: -7px;
    /* text-align: right; */
    direction: rtl;
}

.searchForJobButton {
    border: white 2px solid;
    background: transparent;
    color: white;
}

.searchForJobDropdown {
    direction: rtl;
}

.searchForJobDropdown .dropdown-toggle {
    width: 100%;
    color: grey;
}

.dropdown-menu {
    width: 100%;
}

.sendResumeContainer {
    justify-content: center;
    display: flex;
    margin-top: 3rem;
    height: 6rem;
}

.sendResumeButton {
    background: #FB8E0F;
    color: white;
    font-size: 1.5rem;
    border: none;
    max-width: 20rem;
}

.origami {
    max-width: 20%;
}

.origamiText {
    margin-left: 2rem;
}

.cardContainer {
    max-width: 15rem;
    height: 19rem;
    background: #FFFFFF;
    margin-left: 2rem;
    padding: 0;
}

.cardPartsContainer {
    height: 100%;
    padding: 0!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden; */
    position: relative;
}

.cardTitle, .cardPlus {
    font-size: 1.3rem;
    color: #202A68;
    /* font-weight: 600; */
    text-align: center;
    line-height: 0.9rem;
}

.cardBottomPart {
    height: 66%;
    background-size: cover;
}

.cardTopPart {
    margin-top: 2.5rem;
}

#card1 .cardBottomPart {
    height: 100%;
}

#card1 .cardTopPart {
    display: none;
}

#card1 .cardBottomPart img {
    display: none;
}

.vectorImg {
    position: absolute;
    left: calc(50% - 8px);
}

#card5 .cardTopPart {
    height: 0;
    margin: 0;
}

#card5 .cardBottomPart ul {
    list-style: none;
    margin-top: rem;
    line-height: 2rem;
    margin-right: 2rem;
}

#card5 h5 {
    color: grey;
    opacity: 0.7;
    margin-top: 2.5rem;
}

.cardHover {
    background: #202A68;
    height: 85%;
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    transition: all 500ms linear;
    z-index: 10;
}

.cardHover img {
    transition: visibility 0s 0.3s linear;
}

.cardHoverToggle {
    transform: translateY(85%);
    visibility: hidden;
}

.cardTopPart h5 {
    transition: all 200ms linear;
}

.cardTopHoverToggle {
    transform: translateY(-150%);
    transition: all 150ms 400ms linear!important;
}

.cardHover ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.cardHover ul li {
    margin-bottom: 0.25rem;
}

/******* marqueee *********************/

.marquee {
    height: 8rem;
    overflow: hidden;
    position: relative;
    /* background: #fefefe; */
    color: #333;
    /* border: 1px solid #4a4a4a; */
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 4rem;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

.marquee p div img {
    margin-left: 7rem;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/*******end of marqueee**********/

.active {
    margin: 0!important;
    padding: 0!important;
}

.jobBanner {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}

.carousel {
    /* width: 65%;
    margin: auto; */
}

.carousel-item img {
    /* overflow: hidden!important; */
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.jobBannerContainer {
    position: relative;
}

.jobBannerContainer form {
    position: absolute;
    top: 0;
    left: 0;
}

.jobBannerContainer form * {
    position: absolute;
    background: transparent;
    border: none;
    /* color: transparent; */
}

#jobBannerFormName {
    top: 147px;
    left: 54px;
    width: 17rem;
}

#jobBannerFormTel {
    top: 195px;
    left: 54px;
    width: 17rem;
}

#jobBannerFormEmail {
    top: 242px;
    left: 54px;
    width: 17rem;
}

#jobBannerFormSubmit {
    top: 290px;
    left: 54px;
    width: 17rem;
    color: transparent;
}

#jobBannerFormSubmit:focus {
    outline: none;
    box-shadow: none;
}

.flatCardContainer {
    height: 18rem;
    max-width: 20rem;
}

.flatCard {
    height: 100%;
}

.flatCard ul {
    list-style: none;
}

.flatCard ul li {
    direction: rtl;
}

.flatCard li a {
    font-size: 0.85rem;
}

.flatCardLink {
    float: left;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 9px;
}

.flatCard .card {
    border-radius: 0;
    border: none;
    height: 100%;
}

.middlePanel4 {
    color: #fff;
    direction: rtl;
    font-size: 1.0625rem;
}

.middlePanel5 {
    color: #fff;
}

.middlePanel5Container {
    padding-top: 10rem;
}

.middlePanel5Container .text {
    font-size: 3.25rem;
    margin-left: 1rem;
}

.middlePanel5Container i {
    background: #202A68;
    padding: 0.5rem;
}

.relativeContainer {
    position: relative;
    max-width: fit-content;
    margin: auto;
}

.middlePanel5Container .comment {
    font-size: 1.2rem;
    position: absolute;
    bottom: -0.75rem;
    right: 0;
}